<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <link rel="shortcut icon" href="Assets/Icons/calculator_14445.ico" type="image/x-icon"> 
    <title>Resultado</title>
</head>
<body>
    
    <div class="corpo">
        <h3>{{USUARIO}}</h3>
        <ul>
            <li>Peso: {{PESO}}</li>
            <li>Altura: {{ALTURA}}</li>
            <li>Idade: {{IDADE}}</li>
            <li>Sexo: {{SEXO}}</li>
        </ul>
        <div>
            <h3>Resultado: {{ICM}}</h3>
            <h4>Classificação: {{CLASSIFICACAO}}</h4>
        </div>
        <a href="/index.html">
            <button class="botao">Calcular Novamente</button>
        </a>
    </div>
</body>
</html>